<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <img src="@Model.Image" width="100px" alt="Hi!">
            </div>
        </div>
        <div id="content">
            <div>👋 Hello @Model.Displayname,</div>
            <div id="description">
                <span>You are receiving this email because someone (hopefully you) requested to set a new password for your account. If you did not initiate this, you can disregard this email.</span>
                <span>However, if you would like to continue and set a new password, please click the button below.</span>
            </div>
            <div id=button>
                <a class="primary" href="@Model.ReturnUrl">Set new password</a>
            </div>
            <div>⚠️ This email will expire after five minutes or upon successful password reset.</div>
            <div id="reminder">
                <span>As a friendly reminder, your account details are:</span>
                <ul>
                    <li>Username: @Model.Username</li>
                    <li>Email: @Model.Email</li>
                </ul>
            </div>
        </div>
        <div id="footer">
            <div>Problems or questions? Please call</div>
            <div>@Model.CompanyPhones</div>
            <div>Don't reply to this email</div>
        </div>
    </div>
</body>